.subtitle {
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 2.5rem;
}

.subtitle-2 {
    color: var(--ion-color-primary);
    font-weight: 600;
    font-size: 2rem;
}

.p-text {
    color: var(--ion-color-light) !important;
    font-size: 1rem !important;

    span {
        font-weight: 600;
        color: var(--ion-color-primary);
    }
}

.description {
    padding: 10px 100px 50px 100px;

    @media screen and (max-width: 768px) {
        padding: 10px 5px 50px 5px;
    }
}

.dashboard {
    display: flex;
    justify-content: center;
}

.regular-mob {
    iframe {
        height: 800px !important;
        max-width: 1200px;
    }
}