<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="origin-neighborhoods">
      <ion-icon name="bicycle-outline"></ion-icon>
      <ion-label>Origin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Morebike</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="destination-neighborhoods">
      <ion-icon class="icon-inverted" name="bicycle-outline"></ion-icon>
      <ion-label>Destination</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
